.social {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.social .social-links-wrapper {
    height: 100vh;
    width: 536px;
}

.social .social-links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 3.28px;
    left: 58px;
    position: relative;
    top: 107px;
    width: 420px;
}

.social .container {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 21px;
    position: relative;
    width: 420px;
    height: 100%;
}

.social .subscription-plan {
    -webkit-backdrop-filter: blur(7.87px) brightness(100%);
    backdrop-filter: blur(7.87px) brightness(100%);
    background-color: #0602131a;
    border-radius: 39.37px;
    box-shadow:
        inset 0px 23.62px 31.5px #583adc, inset 0px 7.87px 11.81px #9a88e6, inset 0px 0.98px 2.95px #ffffff;
    height: 126px;
    position: relative;
    width: 126px;
}

.social .price {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 26.2px;
    font-weight: 600;
    left: 24px;
    letter-spacing: -1.57px;
    line-height: 26.2px;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
}

.social .duration {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 7.9px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: 7.9px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
}

.social .div {
    -webkit-backdrop-filter: blur(7.87px) brightness(100%);
    backdrop-filter: blur(7.87px) brightness(100%);
    background-color: #020f131a;
    border-radius: 39.37px;
    box-shadow:
        inset 0px 23.62px 31.5px #3aa6dc, inset 0px 7.87px 11.81px #3ba7dc, inset 0px 0.98px 2.95px #ffffff;
    height: 126px;
    position: relative;
    width: 126px;
}

.social .text-wrapper {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 26.2px;
    font-weight: 600;
    left: 9px;
    letter-spacing: -1.57px;
    line-height: 26.2px;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
}

.social .duration-2 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 7.9px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: 7.9px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
}

.social .subscription-plan-2 {
    -webkit-backdrop-filter: blur(7.87px) brightness(100%);
    backdrop-filter: blur(7.87px) brightness(100%);
    background-color: #020f131a;
    border-radius: 39.37px;
    box-shadow:
        inset 0px 23.62px 31.5px #403bdc, inset 0px 7.87px 11.81px #403bdc, inset 0px 0.98px 2.95px #ffffff;
    height: 126px;
    position: relative;
    width: 126px;
}

.social .price-2 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 26.2px;
    font-weight: 600;
    left: 47px;
    letter-spacing: -1.57px;
    line-height: 26.2px;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
}

.social .duration-3 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 7.9px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: 7.9px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
}

.social .subscription-plan-3 {
    -webkit-backdrop-filter: blur(7.87px) brightness(100%);
    backdrop-filter: blur(7.87px) brightness(100%);
    background-color: #0602131a;
    border-radius: 39.37px;
    box-shadow:
        inset 0px 23.62px 31.5px #7289da, inset 0px 7.87px 11.81px #7289da, inset 0px 0.98px 2.95px #dce1f5;
    height: 126px;
    position: relative;
    width: 126px;
}

.social .price-3 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 26.2px;
    font-weight: 600;
    left: 20px;
    letter-spacing: -1.57px;
    line-height: 26.2px;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
}

.social .duration-4 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 7.9px;
    font-weight: 400;
    left: 34px;
    letter-spacing: 0;
    line-height: 7.9px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
}

.social .background-wrapper {
    height: 126px;
    position: relative;
    width: 126px;
}

.social .background {
    -webkit-backdrop-filter: blur(7.87px) brightness(100%);
    backdrop-filter: blur(7.87px) brightness(100%);
    background-color: #0602131a;
    border-radius: 39.37px;
    box-shadow:
        inset 0px 31.5px 39.37px #ff7e47, inset 0px 11.81px 15.75px #ffb10a, inset 0px 4.92px 15.75px #ffb109, inset 0px 1.97px 3.94px #ffffff;
    height: 126px;
    position: relative;
    width: 126px;
}

.social .price-4 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 26.2px;
    font-weight: 600;
    left: 20px;
    letter-spacing: -1.57px;
    line-height: 26.2px;
    position: absolute;
    text-align: center;
    top: 31px;
}

.social .subscription-plan-4 {
    -webkit-backdrop-filter: blur(7.87px) brightness(100%);
    backdrop-filter: blur(7.87px) brightness(100%);
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.08) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.02) 0%,
            rgba(255, 255, 255, 0.02) 100%
        );
    border-radius: 39.37px;
    box-shadow: inset 0px 35.44px 43.31px #ffffff40, inset 0px 0.98px 0.98px
        #ffffff29;
    height: 126px;
    position: relative;
    width: 126px;
}

.social .price-5 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 26.2px;
    font-weight: 600;
    left: 26px;
    letter-spacing: -1.57px;
    line-height: 26.2px;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
}

.social .duration-5 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 7.9px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: 7.9px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
}

.social .background-2 {
    -webkit-backdrop-filter: blur(7.87px) brightness(100%);
    backdrop-filter: blur(7.87px) brightness(100%);
    background-color: #0602131a;
    border-radius: 39.37px;
    box-shadow:
        inset 0px 31.5px 39.37px #b31c1c, inset 0px 11.81px 15.75px #f39797, inset 0px 4.92px 15.75px #f41b1b, inset 0px 1.97px 3.94px #ffffff;
    height: 126px;
    position: relative;
    width: 126px;
}

.social .price-6 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 26.2px;
    font-weight: 600;
    left: 12px;
    letter-spacing: -1.57px;
    line-height: 26.2px;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
}

.social .duration-6 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 7.9px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 0;
    line-height: 7.9px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
}

.social .subscription-plan-5 {
    -webkit-backdrop-filter: blur(7.87px) brightness(100%);
    backdrop-filter: blur(7.87px) brightness(100%);
    background-color: #59077f1a;
    border-radius: 39.37px;
    box-shadow:
        inset 0px 23.62px 31.5px #883adc, inset 0px 7.87px 11.81px #a00af7, inset 0px 0.98px 2.95px #ffffff;
    height: 126px;
    position: relative;
    width: 126px;
}

.social .price-7 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 26.2px;
    font-weight: 600;
    left: 25px;
    letter-spacing: -1.57px;
    line-height: 26.2px;
    position: absolute;
    text-align: center;
    top: 31px;
    white-space: nowrap;
}

.social .duration-7 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 7.9px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: 7.9px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
}

.backtext {
    height: 40px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 45px;
}

.social-mobile {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.social-mobile .links-mobile-wrapper {
    height: 340.3px;
    width: 304px;
}

.social-mobile .links-mobile {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.86px;
    left: 33px;
    position: relative;
    top: 61px;
    width: 238px;
}

.social-mobile .container-mobile {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 11.91px;
    position: relative;
    width: 238.21px;
}

.social-mobile .subscription-mobile {
    -webkit-backdrop-filter: blur(4.47px) brightness(100%);
    backdrop-filter: blur(4.47px) brightness(100%);
    background-color: #0602131a;
    border-radius: 22.33px;
    box-shadow:
        inset 0px 13.4px 17.87px #583adc, inset 0px 4.47px 6.7px #9a88e6, inset 0px 0.56px 1.67px #ffffff;
    height: 71.46px;
    position: relative;
    width: 71.46px;
}

.social-mobile .price-mobile {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14.9px;
    font-weight: 600;
    left: 13px;
    letter-spacing: -0.89px;
    line-height: 14.9px;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
}

.social-mobile .duration-mobile {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 4.5px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: 4.5px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 37px;
    white-space: nowrap;
}

.social-mobile .div {
    -webkit-backdrop-filter: blur(4.47px) brightness(100%);
    backdrop-filter: blur(4.47px) brightness(100%);
    background-color: #020f131a;
    border-radius: 22.33px;
    box-shadow:
        inset 0px 13.4px 17.87px #3aa6dc, inset 0px 4.47px 6.7px #3ba7dc, inset 0px 0.56px 1.67px #ffffff;
    height: 71.46px;
    position: relative;
    width: 71.46px;
}

.social-mobile .text-wrapper {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14.9px;
    font-weight: 600;
    left: 5px;
    letter-spacing: -0.89px;
    line-height: 14.9px;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
}

.social-mobile .duration-mobile-2 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 4.5px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: 4.5px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 37px;
    white-space: nowrap;
}

.social-mobile .subscription-mobile-2 {
    -webkit-backdrop-filter: blur(4.47px) brightness(100%);
    backdrop-filter: blur(4.47px) brightness(100%);
    background-color: #020f131a;
    border-radius: 22.33px;
    box-shadow:
        inset 0px 13.4px 17.87px #403bdc, inset 0px 4.47px 6.7px #403bdc, inset 0px 0.56px 1.67px #ffffff;
    height: 71.46px;
    position: relative;
    width: 71.46px;
}

.social-mobile .price-mobile-2 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14.9px;
    font-weight: 600;
    left: 27px;
    letter-spacing: -0.89px;
    line-height: 14.9px;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
}

.social-mobile .duration-mobile-3 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 4.5px;
    font-weight: 400;
    left: 14px;
    letter-spacing: 0;
    line-height: 4.5px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 37px;
    white-space: nowrap;
}

.social-mobile .subscription-mobile-3 {
    -webkit-backdrop-filter: blur(4.47px) brightness(100%);
    backdrop-filter: blur(4.47px) brightness(100%);
    background-color: #0602131a;
    border-radius: 22.33px;
    box-shadow:
        inset 0px 13.4px 17.87px #7289da, inset 0px 4.47px 6.7px #7289da, inset 0px 0.56px 1.67px #dce1f5;
    height: 71.46px;
    position: relative;
    width: 71.46px;
}

.social-mobile .price-mobile-3 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14.9px;
    font-weight: 600;
    left: 11px;
    letter-spacing: -0.89px;
    line-height: 14.9px;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
}

.social-mobile .duration-mobile-4 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 4.5px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 0;
    line-height: 4.5px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 37px;
    white-space: nowrap;
}

.social-mobile .background-mobile-wrapper {
    height: 71.46px;
    position: relative;
    width: 71.46px;
}

.social-mobile .background-mobile {
    -webkit-backdrop-filter: blur(4.47px) brightness(100%);
    backdrop-filter: blur(4.47px) brightness(100%);
    background-color: #0602131a;
    border-radius: 22.33px;
    box-shadow:
        inset 0px 17.87px 22.33px #ff7e47, inset 0px 6.7px 8.93px #ffb10a, inset 0px 2.79px 8.93px #ffb109, inset 0px 1.12px 2.23px #ffffff;
    height: 71px;
    position: relative;
    width: 71px;
}

.social-mobile .price-mobile-4 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14.9px;
    font-weight: 600;
    left: 11px;
    letter-spacing: -0.89px;
    line-height: 14.9px;
    position: absolute;
    text-align: center;
    top: 18px;
}

.social-mobile .subscription-mobile-4 {
    -webkit-backdrop-filter: blur(4.47px) brightness(100%);
    backdrop-filter: blur(4.47px) brightness(100%);
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.08) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.02) 0%,
            rgba(255, 255, 255, 0.02) 100%
        );
    border-radius: 22.33px;
    box-shadow: inset 0px 20.1px 24.57px #ffffff40, inset 0px 0.56px 0.56px
        #ffffff29;
    height: 71.46px;
    position: relative;
    width: 71.46px;
}

.social-mobile .price {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14.9px;
    font-weight: 600;
    left: 15px;
    letter-spacing: -0.89px;
    line-height: 14.9px;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
}

.social-mobile .duration {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 4.5px;
    font-weight: 400;
    left: 18px;
    letter-spacing: 0;
    line-height: 4.5px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 37px;
    white-space: nowrap;
}

.social-mobile .background-mobile-2 {
    -webkit-backdrop-filter: blur(4.47px) brightness(100%);
    backdrop-filter: blur(4.47px) brightness(100%);
    background-color: #0602131a;
    border-radius: 22.33px;
    box-shadow:
        inset 0px 17.87px 22.33px #b31c1c, inset 0px 6.7px 8.93px #f39797, inset 0px 2.79px 8.93px #f41b1b, inset 0px 1.12px 2.23px #ffffff;
    height: 71px;
    position: relative;
    width: 71px;
}

.social-mobile .price-mobile-5 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14.9px;
    font-weight: 600;
    left: 7px;
    letter-spacing: -0.89px;
    line-height: 14.9px;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
}

.social-mobile .duration-mobile-5 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 4.5px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: 4.5px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 37px;
    white-space: nowrap;
}

.social-mobile .subscription-mobile-5 {
    -webkit-backdrop-filter: blur(4.47px) brightness(100%);
    backdrop-filter: blur(4.47px) brightness(100%);
    background-color: #59077f1a;
    border-radius: 22.33px;
    box-shadow:
        inset 0px 13.4px 17.87px #883adc, inset 0px 4.47px 6.7px #a00af7, inset 0px 0.56px 1.67px #ffffff;
    height: 71.46px;
    position: relative;
    width: 71.46px;
}

.social-mobile .price-mobile-6 {
    color: #f2f2f2;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14.9px;
    font-weight: 600;
    left: 14px;
    letter-spacing: -0.89px;
    line-height: 14.9px;
    position: absolute;
    text-align: center;
    top: 18px;
    white-space: nowrap;
}

.social-mobile .duration-mobile-6 {
    color: #f2f2f2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 4.5px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: 4.5px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: 37px;
    white-space: nowrap;
}

.backtext-mobile {
    height: 20px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 15px;
}

:root {
    background-color: #1a1a1a;
}