.about {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.about .tags-pc {
    width: 100%;
    height: 76px;
    top: 803px;
    justify-items: center;
    grid-auto-flow: row;
    justify-self: center;
    position: absolute;
    display: grid;
    grid-template-columns: 5fr repeat(3, 0.5fr) 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
}

.about .cards-pc {
    width: 100%;
    height: 403px;
    top: 1421px;
    justify-items: center;
    grid-auto-flow: row;
    justify-self: center;
    position: absolute;
    display: grid;
    grid-template-columns: 0.1fr repeat(2, 0.4fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.about .div {
    background: linear-gradient(
        180deg,
        rgba(23, 33, 54, 1) 0%,
        rgba(43, 44, 115, 1) 100%
    );
    height: 2303.99px;
    position: relative;
    width: 100%;
}

.about .overlap {
    background-color: #1e2a40;
    border: 1px solid;
    border-color: #304057;
    border-radius: 11px;
    height: 403px;
    position: relative;
    width: 490px;
    grid-area: 1 / 2 / 2 / 3;
}

.about .overlap-group {
    height: 132px;
    justify-self: center;
    position: absolute;
    top: 29px;
    width: 428px;
}

.about .text-wrapper {
    color: #51a2ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 30px;
    left: 45px;
    letter-spacing: -1.10px;
    line-height: normal;
    position: absolute;
    top: 6px;
}

.about .overlap-2 {
    height: 132px;
    left: 0;
    position: absolute;
    top: 0;
    width: 428px;
}

.about .p {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 98px;
    justify-self: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 60px;
    width: 428px;
}

.about .rectangle {
    background-color: #1c2f64;
    border-radius: 8px;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 35px;
    background-image: url("./Dev-Icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.about .text-wrapper-2 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 19px;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 193px;
}

.about .text-wrapper-3 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 19px;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 224px;
}

.about .text-wrapper-4 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 19px;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 255px;
}

.about .text-wrapper-5 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 19px;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 286px;
}

.about .rectangle-2 {
    background-color: #1b2847;
    border: 1px solid;
    border-color: #1b2e68;
    border-radius: 8px;
    height: 51px;
    left: 28px;
    position: absolute;
    top: 329px;
    width: 432px;
}

.about .overlap-group-2 {
    background-color: #1e2a40;
    border: 1px solid;
    border-color: #304057;
    border-radius: 11px;
    height: 403px;
    position: relative;
    width: 490px;
    grid-area: 1 / 3 / 2 / 4;
}

.about .rectangle-3 {
    background-color: #3b1f65;
    border-radius: 8px;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 35px;
    background-image: url("./Designer-Icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.about .text-wrapper-6 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 30px;
    left: 45px;
    letter-spacing: -1.10px;
    line-height: normal;
    position: absolute;
    top: 6px;
}

.about .rectangle-4 {
    background-color: #271e4d;
    border: 1px solid;
    border-color: #3d1a6b;
    border-radius: 8px;
    height: 51px;
    left: 28px;
    position: absolute;
    top: 329px;
    width: 432px;
}

.about .div-wrapper {
    background-color: #162245;
    border: 1px solid;
    border-color: #1d3f7e;
    border-radius: 8px;
    height: 20px;
    position: relative;
    width: 83px;
    display: grid;
    justify-items: center;
    grid-area: 1 / 2 / 2 / 3;
}

.about .text-wrapper-7 {
    color: #51a2ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10.5px;
    font-weight: 400;
    height: 14px;
    letter-spacing: -0.52px;
    line-height: normal;
    position: absolute;
    top: 1px;
}

.about .text-wrapper-8 {
    color: #ffffff;
    font-family: "Open Sans-Bold", Helvetica;
    font-size: 56px;
    font-weight: 700;
    justify-self: center;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    top: 721px;
}

.about .overlap-3 {
    height: 50px;
    justify-self: center;
    position: relative;
    top: 780px;
    width: 530px;
}

.about .text-wrapper-9 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 19.3px;
    font-weight: 400;
    height: 26px;
    left: 0;
    letter-spacing: -1.35px;
    line-height: normal;
    position: absolute;
    top: 0;
}

.about .text-wrapper-10 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 19.3px;
    font-weight: 400;
    height: 26px;
    left: 118px;
    letter-spacing: -1.35px;
    line-height: normal;
    position: absolute;
    top: 24px;
}

.about .text-wrapper-11 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 30px;
    letter-spacing: -0.88px;
    line-height: normal;
    position: relative;
    justify-self: center;
    top: 910px;
}

.about .overlap-4 {
    background-color: #29134e;
    border: 1px solid;
    border-color: #512286;
    border-radius: 8px;
    height: 20px;
    position: relative;
    width: 76px;
    display: grid;
    justify-items: center;
    grid-area: 1 / 3 / 2 / 4;
}

.about .text-wrapper-12 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10.5px;
    font-weight: 400;
    height: 14px;
    letter-spacing: -0.52px;
    line-height: normal;
    position: absolute;
    top: 1px;
}

.about .overlap-5 {
    background-color: #26262640;
    border: 1px solid;
    border-color: #262626;
    border-radius: 8px;
    height: 28px;
    position: relative;
    top: 820px;
    width: 93px;
    cursor: pointer;
    justify-self: center;
}

.about .text-wrapper-13 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10.5px;
    font-weight: 400;
    height: 13px;
    left: 40px;
    letter-spacing: -0.52px;
    line-height: normal;
    position: absolute;
    top: 6px;
    width: 31px;
}

.about .rectangle-5 {
    height: 13px;
    left: 23px;
    position: absolute;
    top: 7px;
    width: 13px;
    background-image: url("./Github.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.about .overlap-6 {
    background-color: #1a1e41;
    border: 1px solid;
    border-color: #30317b;
    border-radius: 8px;
    height: 20px;
    position: relative;
    width: 106px;
    display: grid;
    justify-items: center;
    grid-area: 1 / 4 / 2 / 5;
}

.about .text-wrapper-14 {
    color: #7c86ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10.5px;
    font-weight: 400;
    height: 14px;
    letter-spacing: -0.52px;
    line-height: normal;
    position: absolute;
    top: 1px;
}

.about .rectangle-wrapper {
    background-color: #101828;
    border: 1px solid;
    border-color: #364153;
    border-radius: 11px;
    height: 304px;
    position: relative;
    top: 890px;
    width: 785px;
    justify-self: center;
}

.about .rectangle-6 {
    background-color: #1e2939;
    border: 1px solid;
    border-color: #364153;
    border-radius: 11px 11px 0px 0px;
    height: 37px;
    position: relative;
    top: -1px;
}

.about .overlap-7 {
    background-color: #1e2a40d6;
    border: 1px solid;
    border-color: #304057;
    border-radius: 11px;
    height: 349px;
    position: relative;
    justify-self: center;
    top: 1400px;
    width: 786px;
}

.about .text-wrapper-15 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 30px;
    left: 347px;
    letter-spacing: -1.10px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 100px;
}

.about .text-wrapper-16 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 149px;
    width: 671px;
}

.about .rectangle-7 {
    background-color: #3b1f65;
    border-radius: 8px;
    height: 64px;
    left: 360px;
    position: absolute;
    top: 18px;
    width: 64px;
    background-image: url("./rJk3r.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.about .art {
    height: 686px;
    object-fit: cover;
    position: relative;
    justify-self: center;
    top: -800px;
    width: 484.72px;
    height: 685.81;
    background-image: url("./Art.png");
    background-size: cover;
}

.about .back-button {
    background-color: #0034d1;
    border-radius: 16px;
    height: 48px;
    position: relative;
    justify-self: center;
    top: 730px;
    width: 154px;
}

.about .text-wrapper-17 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 16px;
    letter-spacing: -0.96px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 16px;
}

/* Mobile css */

.mobile-about {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.mobile-about .div {
    background: linear-gradient(
        180deg,
        rgba(23, 33, 54, 1) 0%,
        rgba(43, 44, 115, 1) 100%
    );
    height: 3200px;
    position: relative;
    width: 100%;
}

.mobile-about .overlap {
    height: 798px;
    left: 138px;
    position: absolute;
    top: 0;
    width: 598px;
}

.mobile-about .mob {
    color: #ffffff;
    font-family: "Open Sans-Bold", Helvetica;
    font-size: 82.8px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 685px;
}

.mobile-about .img {
    height: 686px;
    left: 56px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 485px;
    background-image: url("./Art.png");
    background-size: cover;
}

.mobile-about .text-wrapper {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 44px;
    left: 46px;
    letter-spacing: -2.24px;
    line-height: normal;
    position: absolute;
    top: 877px;
}

.mobile-about .p {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 44px;
    left: 103px;
    letter-spacing: -2.24px;
    line-height: normal;
    position: absolute;
    top: 921px;
}

.mobile-about .mob-2 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 36.1px;
    font-weight: 400;
    height: 49px;
    left: 294px;
    letter-spacing: -1.44px;
    line-height: normal;
    position: absolute;
    top: 1062px;
}

.mobile-about .overlap-group {
    background-color: #101828;
    border: 1px solid;
    border-color: #364153;
    border-radius: 11px;
    height: 304px;
    left: 44px;
    position: absolute;
    top: 1123px;
    width: 785px;
}

.mobile-about .mob-3 {
    background-color: #1e2939;
    border: 1px solid;
    border-color: #364153;
    border-radius: 11px 11px 0px 0px;
    height: 37px;
    left: 0px;
    position: relative;
    top: -1px;
}

.mobile-about .mob-4 {
    height: 28px;
    left: 235px;
    position: absolute;
    top: 807px;
    width: 403px;
}

.mobile-about .div-wrapper {
    background-color: #162245;
    border: 1.41px solid;
    border-color: #1d3f7e;
    border-radius: 11.32px;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 117px;
}

.mobile-about .text-wrapper-2 {
    color: #51a2ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    height: 23px;
    left: 20px;
    letter-spacing: -0.85px;
    line-height: normal;
    position: absolute;
    top: 3px;
}

.mobile-about .overlap-2 {
    background-color: #29134e;
    border: 1.41px solid;
    border-color: #512286;
    border-radius: 11.32px;
    height: 28px;
    left: 132px;
    position: absolute;
    top: 0;
    width: 108px;
}

.mobile-about .text-wrapper-3 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    height: 23px;
    left: 20px;
    letter-spacing: -0.85px;
    line-height: normal;
    position: absolute;
    top: 3px;
}

.mobile-about .overlap-3 {
    background-color: #1a1e41;
    border: 1.41px solid;
    border-color: #30317b;
    border-radius: 11.32px;
    height: 28px;
    left: 253px;
    position: absolute;
    top: 0;
    width: 150px;
}

.mobile-about .text-wrapper-4 {
    color: #7c86ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    height: 23px;
    left: 17px;
    letter-spacing: -0.85px;
    line-height: normal;
    position: absolute;
    top: 3px;
}

.mobile-about .mob-5 {
    height: 1158px;
    left: 108px;
    position: absolute;
    top: 1470px;
    width: 658px;
}

.mobile-about .overlap-4 {
    background-color: #1e2a40;
    border: 1.35px solid;
    border-color: #304057;
    border-radius: 14.83px;
    height: 543px;
    left: -1px;
    position: absolute;
    top: 616px;
    width: 661px;
}

.mobile-about .overlap-5 {
    height: 202px;
    left: 39px;
    position: absolute;
    top: 39px;
    width: 577px;
}

.mobile-about .overlap-6 {
    height: 202px;
    left: 0;
    position: absolute;
    top: 0;
    width: 577px;
}

.mobile-about .text-wrapper-5 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 21.6px;
    font-weight: 400;
    height: 157px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    width: 577px;
}

.mobile-about .rectangle {
    background-color: #3b1f65;
    border-radius: 10.78px;
    height: 47px;
    left: 0;
    position: absolute;
    top: 0;
    width: 47px;
}

.mobile-about .mobile-design-icon {
    height: 27px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 27px;
    background-image: url("./mobile-design-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.mobile-about .text-wrapper-6 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 29.6px;
    font-weight: 400;
    height: 40px;
    left: 61px;
    letter-spacing: -1.48px;
    line-height: normal;
    position: absolute;
    top: 2px;
}

.mobile-about .text-wrapper-7 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 18.9px;
    font-weight: 400;
    height: 26px;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 260px;
}

.mobile-about .text-wrapper-8 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 18.9px;
    font-weight: 400;
    height: 26px;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 302px;
}

.mobile-about .text-wrapper-9 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 18.9px;
    font-weight: 400;
    height: 26px;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 344px;
}

.mobile-about .text-wrapper-10 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 18.9px;
    font-weight: 400;
    height: 26px;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 385px;
}

.mobile-about .rectangle-2 {
    background-color: #271e4d;
    border: 1.35px solid;
    border-color: #3d1a6b;
    border-radius: 10.78px;
    height: 69px;
    left: 38px;
    position: absolute;
    top: 443px;
    width: 582px;
}

.mobile-about .mobile-developer {
    height: 540px;
    left: 0;
    position: absolute;
    top: 0;
    width: 658px;
}

.mobile-about .overlap-group-2 {
    background-color: #1e2a40;
    border: 1.35px solid;
    border-color: #304057;
    border-radius: 14.83px;
    height: 543px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 661px;
}

.mobile-about .overlap-7 {
    height: 201px;
    left: 39px;
    position: absolute;
    top: 39px;
    width: 577px;
}

.mobile-about .text-wrapper-11 {
    color: #51a2ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 29.6px;
    font-weight: 400;
    height: 40px;
    left: 61px;
    letter-spacing: -1.48px;
    line-height: normal;
    position: absolute;
    top: 2px;
}

.mobile-about .overlap-8 {
    height: 201px;
    left: 0;
    position: absolute;
    top: 0;
    width: 577px;
}

.mobile-about .text-wrapper-12 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 21.6px;
    font-weight: 400;
    height: 155px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    width: 577px;
}

.mobile-about .rectangle-3 {
    background-color: #1c2f64;
    border-radius: 10.78px;
    height: 47px;
    left: 0;
    position: absolute;
    top: 0;
    width: 47px;
}

.mobile-about .mobile-dev-icon {
    height: 27px;
    left: 5px;
    position: absolute;
    top: 10px;
    width: 37px;
    background-image: url("./mobile-dev-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.mobile-about .rectangle-4 {
    background-color: #1b2847;
    border: 1.35px solid;
    border-color: #1b2e68;
    border-radius: 10.78px;
    height: 69px;
    left: 38px;
    position: absolute;
    top: 443px;
    width: 582px;
}

.mobile-about .mob-6 {
    background-color: #26262640;
    border: 1.68px solid;
    border-color: #262626;
    border-radius: 13.44px;
    height: 47px;
    left: 358px;
    position: absolute;
    top: 978px;
    width: 156px;
    cursor: pointer;
}

.mobile-about .text-wrapper-13 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 17.6px;
    font-weight: 400;
    height: 22px;
    left: 67px;
    letter-spacing: -0.88px;
    line-height: normal;
    position: absolute;
    top: 13px;
    width: 52px;
}

.mobile-about .vector {
    height: 21px;
    left: 39px;
    position: absolute;
    top: 12px;
    width: 22px;
    background-image: url("./Github.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.mobile-about .mob-wrapper {
    background-color: #0034d1;
    border-radius: 18.43px;
    height: 55px;
    left: 347px;
    position: absolute;
    top: 3103px;
    width: 177px;
}

.mobile-about .mob-7 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 18.4px;
    font-weight: 400;
    height: 25px;
    left: 18px;
    letter-spacing: -1.11px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
}

.mobile-about .overlap-wrapper {
    height: 400px;
    left: 184px;
    position: absolute;
    top: 2667px;
    width: 503px;
}

.mobile-about .overlap-9 {
    background-color: #1e2a40d6;
    border: 1.15px solid;
    border-color: #304057;
    border-radius: 12.67px;
    height: 402px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 506px;
}

.mobile-about .text-wrapper-14 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 25.3px;
    font-weight: 400;
    height: 34px;
    left: 200px;
    letter-spacing: -1.26px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 115px;
}

.mobile-about .text-wrapper-15 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 21.9px;
    font-weight: 400;
    height: 210px;
    left: 47px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 165px;
    width: 408px;
}

.mobile-about .mobile-icon {
    height: 74px;
    left: 215px;
    position: absolute;
    top: 0;
    width: 74px;
}

.mobile-about .rjkr-wrapper {
    background-color: #3b1f65;
    border-radius: 9.21px;
    height: 74px;
    position: relative;
    top: 20px;
}

.mobile-about .rjkr {
    height: 54px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 63px;
    background-image: url("./rjk3r-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Mobile CSS 2 */

.over-phone-about {
    align-items: start;
    background-color: transparent;
    display: grid;
    height: 100%;
    justify-items: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(#172136 0%, #2b2c73 100%);
}

.over-phone-about .div {
    background: linear-gradient(
        180deg,
        rgba(23, 33, 54, 1) 0%,
        rgba(43, 44, 115, 1) 100%
    );
    height: 1762px;
    position: relative;
    width: 320px;
}

.over-phone-about .overlap {
    height: 300px;
    left: 18px;
    position: absolute;
    top: 0;
    width: 283px;
}

.over-phone-about .over-phone {
    color: #ffffff;
    font-family: "Open Sans-Bold", Helvetica;
    font-size: 39.3px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 247px;
}

.over-phone-about .img-art {
    height: 251px;
    left: 53px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 178px;
    background-image: url("./Art.png");
    background-size: cover;
}

.over-phone-about .text-wrapper {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 12.5px;
    font-weight: 400;
    height: 17px;
    left: 14px;
    letter-spacing: -0.87px;
    line-height: normal;
    position: absolute;
    top: 337px;
}

.over-phone-about .p {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 12.5px;
    font-weight: 400;
    height: 17px;
    left: 36px;
    letter-spacing: -0.87px;
    line-height: normal;
    position: absolute;
    top: 354px;
}

.over-phone-about .over-phone-2 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 21.9px;
    font-weight: 400;
    height: 30px;
    left: 74px;
    letter-spacing: -0.88px;
    line-height: normal;
    position: absolute;
    top: 422px;
}

.over-phone-about .overlap-group {
    height: 821px;
    left: 13px;
    position: absolute;
    top: 462px;
    width: 294px;
}

.over-phone-about .over-phone-3 {
    background-color: #101828;
    border: 0.37px solid;
    border-color: #364153;
    border-radius: 4.03px;
    height: 157px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 288px;
}

.over-phone-about .mob {
    height: 670px;
    left: 0;
    position: absolute;
    top: 151px;
    width: 294px;
}

.over-phone-about .overlap-2 {
    background-color: #1e2a40;
    border: 0.6px solid;
    border-color: #304057;
    border-radius: 6.62px;
    height: 311px;
    left: -1px;
    position: absolute;
    top: 359px;
    width: 295px;
}

.over-phone-about .over-phone-4 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 133px;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 44px;
    width: 258px;
}

.over-phone-about .over-phone-5 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 185px;
}

.over-phone-about .over-phone-6 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 203px;
}

.over-phone-about .over-phone-7 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 222px;
}

.over-phone-about .over-phone-8 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 241px;
}

.over-phone-about .over-phone-9 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 13.2px;
    font-weight: 400;
    height: 18px;
    left: 44px;
    letter-spacing: -0.66px;
    line-height: normal;
    position: absolute;
    top: 18px;
}

.over-phone-about .over-phone-10 {
    background-color: #271e4d;
    border: 0.6px solid;
    border-color: #3d1a6b;
    border-radius: 4.82px;
    height: 31px;
    left: 17px;
    position: absolute;
    top: 270px;
    width: 260px;
}

.over-phone-about .over-phone-wrapper {
    background-color: #3b1f65;
    border-radius: 4.82px;
    height: 21px;
    left: 17px;
    position: absolute;
    top: 17px;
    width: 21px;
}

.over-phone-about .over-phone-11 {
    height: 12px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 12px;
    background-image: url("./mobile-design-icon.svg");
    background-size: cover;
}

.over-phone-about .overlap-3 {
    height: 319px;
    left: 0;
    position: absolute;
    top: -61px;
    width: 294px;
}

.over-phone-about .mobile-developer {
    height: 310px;
    left: 0;
    position: absolute;
    top: 0;
    width: 294px;
}

.over-phone-about .overlap-group-2 {
    background-color: #1e2a40;
    border: 0.6px solid;
    border-color: #304057;
    border-radius: 6.62px;
    height: 311px;
    left: -1px;
    position: relative;
    top: 81px;
    width: 295px;
}

.over-phone-about .over-phone-12 {
    color: #51a2ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 13.2px;
    font-weight: 400;
    height: 18px;
    left: 44px;
    letter-spacing: -0.66px;
    line-height: normal;
    position: absolute;
    top: 18px;
}

.over-phone-about .over-phone-13 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 132px;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    width: 258px;
}

.over-phone-about .img-wrapper {
    background-color: #1c2f64;
    border-radius: 4.82px;
    height: 21px;
    left: 17px;
    position: absolute;
    top: 17px;
    width: 21px;
}

.over-phone-about .over-phone-14 {
    height: 12px;
    left: 2px;
    position: absolute;
    top: 4px;
    width: 17px;
    background-image: url("./mobile-dev-icon.svg");
    background-size: cover;
}

.over-phone-about .over-phone-15 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 266px;
}

.over-phone-about .over-phone-16 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 285px;
}

.over-phone-about .over-phone-17 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 304px;
}

.over-phone-about .over-phone-18 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 261px;
}

.over-phone-about .over-phone-19 {
    background-color: #1b2847;
    border: 0.6px solid;
    border-color: #1b2e68;
    border-radius: 4.82px;
    height: 31px;
    left: 17px;
    position: absolute;
    top: 290px;
    width: 260px;
}

.over-phone-about .over-phone-20 {
    height: 17px;
    left: 41px;
    position: absolute;
    top: 305px;
    width: 238px;
}

.over-phone-about .div-wrapper {
    background-color: #162245;
    border: 0.83px solid;
    border-color: #1d3f7e;
    border-radius: 6.67px;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 69px;
}

.over-phone-about .text-wrapper-2 {
    color: #51a2ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    height: 14px;
    left: 12px;
    letter-spacing: -0.50px;
    line-height: normal;
    position: absolute;
    top: 1px;
}

.over-phone-about .overlap-4 {
    background-color: #29134e;
    border: 0.83px solid;
    border-color: #512286;
    border-radius: 6.67px;
    height: 17px;
    left: 78px;
    position: absolute;
    top: 0;
    width: 63px;
}

.over-phone-about .text-wrapper-3 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    height: 14px;
    left: 12px;
    letter-spacing: -0.50px;
    line-height: normal;
    position: absolute;
    top: 1px;
}

.over-phone-about .overlap-5 {
    background-color: #1a1e41;
    border: 0.83px solid;
    border-color: #30317b;
    border-radius: 6.67px;
    height: 17px;
    left: 149px;
    position: absolute;
    top: 0;
    width: 88px;
}

.over-phone-about .text-wrapper-4 {
    color: #7c86ff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    height: 14px;
    left: 10px;
    letter-spacing: -0.50px;
    line-height: normal;
    position: absolute;
    top: 1px;
}

.over-phone-about .over-phone-21 {
    background-color: #26262640;
    border: 1.03px solid;
    border-color: #262626;
    border-radius: 8.24px;
    height: 29px;
    left: 112px;
    position: absolute;
    top: 384px;
    width: 96px;
    cursor: pointer;
}

.over-phone-about .text-wrapper-5 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10.8px;
    font-weight: 400;
    height: 13px;
    left: 41px;
    letter-spacing: -0.54px;
    line-height: normal;
    position: absolute;
    top: 7px;
    width: 32px;
}

.over-phone-about .vector {
    height: 13px;
    left: 24px;
    position: absolute;
    top: 7px;
    width: 13px;
    background-image: url("./Github.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.over-phone-about .over-phone-btn {
    background-color: #0034d1;
    border-radius: 21.79px;
    height: 65px;
    left: 55px;
    position: absolute;
    top: 1659px;
    width: 210px;
    cursor: pointer;
}

.over-phone-about .over-phone-22 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 21.8px;
    font-weight: 400;
    height: 30px;
    left: 22px;
    letter-spacing: -1.31px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 18px;
}

.over-phone-about .overlap-wrapper {
    height: 280px;
    left: 13px;
    overflow: hidden;
    position: absolute;
    top: 1336px;
    width: 294px;
}

.over-phone-about .overlap-6 {
    background-color: #1e2a40d6;
    border: 0.67px solid;
    border-color: #304057;
    border-radius: 7.4px;
    height: 281px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 295px;
}

.over-phone-about .text-wrapper-6 {
    color: #c27aff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14.8px;
    font-weight: 400;
    height: 20px;
    left: 117px;
    letter-spacing: -0.74px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 62px;
}

.over-phone-about .text-wrapper-7 {
    color: #cad5e2;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 173px;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 92px;
    width: 244px;
}

.over-phone-about .mobile-icon {
    height: 43px;
    left: 125px;
    position: absolute;
    top: 0;
    width: 43px;
}

.over-phone-about .rjkr-wrapper {
    background-color: #3b1f65;
    border-radius: 5.38px;
    height: 43px;
    position: relative;
    top: 12px;
}

.over-phone-about .rjkr {
    height: 31px;
    left: 2px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 37px;
    background-image: url("./rJk3r.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* removed legacy tailwind import (use @tailwind directives in globals.css) */