.menu {
    width: 1053.6px;
    height: 92.4px;
    position: relative;
}

.decor {
    width: 1062px;
    height: 92.516px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
}

.navbar {
    display: flex;
    width: 1062px;
    height: 92.4px;
    justify-content: center;
    align-items: center;
    gap: 82.787px;
    flex-shrink: 0;
    position: absolute;
    z-index: 3;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.132px;
}

.about {
    display: flex;
    width: 80.142px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.132px;
    flex-shrink: 0;
}

.works {
    display: flex;
    width: 80.142px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.132px;
    flex-shrink: 0;
}

.ideas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.132px;
}

.achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.132px;
}

.social-icon {
    width: 54.731px;
    height: 48.867px;
}

.link {
    font-family: "Open Sans";
    font-size: 14.55px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.615px;
    user-select: none;
}

.social-decor {
    display: flex;
    width: 166.5px;
    height: 83px;
    flex-shrink: 0;
    z-index: 2;
    position: relative;
    top: 4.6px;
    left: 111.8;
    opacity: 0;
    transition: 0.4s;
}

.about-decor {
    display: flex;
    width: 149.5px;
    height: 83px;
    flex-shrink: 0;
    z-index: 2;
    position: absolute;
    top: 4.2px;
    left: 292.8;
    opacity: 0;
    transition: 0.4s;
}

.works-decor {
    display: flex;
    width: 153px;
    height: 83px;
    flex-shrink: 0;
    z-index: 2;
    position: absolute;
    border-radius: 16px;
    top: 4.4px;
    left: 455.8;
    opacity: 0;
    transition: 0.4s;
}

.ideas-decor {
    display: flex;
    width: 149.5px;
    height: 83px;
    flex-shrink: 0;
    z-index: 2;
    position: absolute;
    top: 4.4px;
    left: 605.8px;
    opacity: 0;
    transition: 0.4s;
}

.achievements-decor {
    display: flex;
    width: 191px;
    height: 83px;
    flex-shrink: 0;
    z-index: 2;
    position: absolute;
    top: 4.4px;
    left: 769.8;
    opacity: 0;
    transition: 0.4s;
}

.menu:has(#social:hover) #social-decor {
    opacity: 1;
  }

.menu:has(#about:hover) #about-decor {
    opacity: 1;
  }

.menu:has(#works:hover) #works-decor {
    opacity: 1;
  }

.menu:has(#ideas:hover) #ideas-decor {
    opacity: 1;
  }

.menu:has(#achievements:hover) #achievements-decor {
    opacity: 1;
  }

/* Mobile UI */
.mob-menu {
  width: 100%;
  padding: 0px 10px;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  height: 320px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.sub {
   width: 86px;
   height: 101px;
   transition: opacity 0.5s ease;
}

.mob-menu-item {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  cursor: pointer;
}

.mob-menu-icon {
  width: 100%;
  padding: 9px 4px;
  background-color: #1F1F1D;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mob-icon-placeholder {
  width: 66px;
  height: 68px;
  background-color: #C8C8C6;
}

.mob-menu-label {
  height: 2.5rem;
  color: #1F1F1D;
  font-size: 14.55px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 4.79px;
  word-wrap: break-word;
}

.links-menu {
  display: flex;
  width: 304px;
  padding: 0 10px;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
