/* stylelint-disable at-rule-no-unknown */

@plugin "tailwindcss-animate";
/* stylelint-disable selector-class-pattern */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --card: 240 5% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 240 5% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 215 59% 64%; /* #73A0D8 */
    --primary-foreground: 222 47% 11%;

    --secondary: 281 48% 58%; /* #AA5CCC */
    --secondary-foreground: 210 40% 98%;

    --muted: 240 4% 22%;
    --muted-foreground: 240 5% 65%;

    --accent: 281 48% 58%; /* #AA5CCC */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 22%;
    --input: 240 4% 22%;
    --ring: 215 59% 64%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 40 4% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 215 59% 64%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 240 4% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 4% 22%;
    --sidebar-ring: 215 59% 64%;
  }

  .dark {
    --background: 40 4% 12%; /* #1F1F1D */
    --foreground: 210 40% 98%;

    --card: 240 5% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 240 5% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 215 59% 64%; /* #73A0D8 */
    --primary-foreground: 222 47% 11%;

    --secondary: 281 48% 58%; /* #AA5CCC */
    --secondary-foreground: 210 40% 98%;

    --muted: 240 4% 22%;
    --muted-foreground: 240 5% 65%;

    --accent: 281 48% 58%; /* #AA5CCC */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 22%;
    --input: 240 4% 22%;
    --ring: 215 59% 64%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 40 4% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 215 59% 64%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 240 4% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 4% 22%;
    --sidebar-ring: 215 59% 64%;
  }
}

