
.LocalNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1A1A1D;
  color: white;
}

.LNlogo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.LNnavLinks a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.LNnavLinks a:hover {
  background-color: #4A4E6D;
}

.LNnavLinks .active {
  background-color: #6A8E4E;
}
